#container {
    position: absolute;
    background-color: wheat;
    width: 59rem;
    left: 1rem;
    height: 100%;
}

#topRow {
    padding: 1%;
}

#title {
    font-size: 4rem; 
    position: absolute;
    width: 50%;
}

#turn, #scoreArea {
    position: absolute;
    width: 50%;
    background-color: antiquewhite;
}

#turn {left: 0;}
#scoreArea {right: 0; line-height: 1.8em;}
#scoreValue{font-size: 2em;}

#info {
    position: absolute;
    text-align: center;
    line-height: 2em;
    background-color: antiquewhite;
    width: 50%;
    right: .5rem;
}

#gameover {
    font-size: 1.88em;
    line-height: 2.1;
    color: red;
}

#gameArea {
    position: absolute;
    width: 49.1rem;
    height: 49.1rem;
    left: 5rem;
    background-color: beige;
    top: 6rem;
    z-index: 10;
}

#gameTable{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:cornsilk;
    top: 6rem;
    z-index: 10;
    border: 2px solid gray;
    box-sizing: border-box;
    
}

#grid {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 6rem;
    
}

.value {
    position: absolute;
    font-size: 4.5em;
    line-height: 1.5em;
    transition: top .25s, transform .5s;
    transform-origin: 50% 50%;
}

.numCube {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border: 1px solid gray;
    box-sizing: border-box;
    text-align: center;
    transition: background-color .2s;
}

.vx0{left: 2.3rem;}
.vx1{left: 9.3rem;}
.vx2{left: 16.3rem;}
.vx3{left: 23.3rem;}
.vx4{left: 30.3rem;}
.vx5{left: 37.3rem;}
.vx6{left: 44.3rem;}

.vy6{top: 0.3rem;}
.vy5{top: 7.3rem;}
.vy4{top: 14.3rem;}
.vy3{top: 21.3rem;}
.vy2{top: 28.3rem;}
.vy1{top: 35.3rem;}
.vy0{top: 42.3rem;}

.x0{left: 0;}
.x1{left: 7rem;}
.x2{left: 14rem;}
.x3{left: 21rem;}
.x4{left: 28rem;}
.x5{left: 35rem;}
.x6{left: 42rem;}

.y6{top: 0;}
.y5{top: 7rem;}
.y4{top: 14rem;}
.y3{top: 21rem;}
.y2{top: 28rem;}
.y1{top: 35rem;}
.y0{top: 42rem;}

.block {
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: -1.7rem;
    top: .2rem;
    border-radius: 5rem;
    transition: background-color .25s, transform .25s ;
}

.block-2 {background-color: black;}
.block-1 {background-color: gray;}